
.pm1{
    left: 16px;
    top: 852px;
}
.sb1{
    top: 571.988px;
    left: -128px;
}
.sb2{
    left: 447.98px;
    top: 589.988px;
}
.pm2{
    top: 1178px;
    left: 571px;
}
.sd1{
    top: 1090px;
    left: 617.988px
}
.sd2{
    top: 844.988px;
    left: 731px;
}
.pmtl{
    top: 236px;
    left: 93px;
}
.pmnb{
    top: 8px;
    left: 72px;
}
