/* #secondGroup{
    transform: scale(0);
} */
.rb3{
    top: 672px;
    left: 459px;
    transform: scale(0);
}
.lemon{
    top: 907px;
    left: -61px;
    transform: scale(0);
}
.rb2{
    top: 580px;
    left: 413px;
    transform: scale(0);
}
.rb1{
    top: 487px;
    left: -56px;
    transform: scale(0);
}
.p3{
    top: 550px;
    left: 603px;
    transform: scale(0);
}
.p4{
    top: 877px;
    left: 515px;
    transform: scale(0);
}
.p2{
    top: 649px;
    left: 118px;
    transform: scale(0);
}
.p5{
    top: 765px;
    left: -87px;
    transform: scale(0);
}
.rbbg{
    transform: scale(0);
}
.rbtg{
    transform: scale(0);
}
.rbnb{
    top: 8px;
    left: 72px;
    transform: scale(0);

}